<div id= <%= log_event.id %> >
	<li><%= link_to_remote 'Cancel', :url=>{:controller=>'log_events', :action=>'destroy', :id=>log_event.id}, :method=>:delete  %>   | <%= log_event.message %></li>
</div>